<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajustes</title>
</head>
<body>
    <h1>Ajustes</h1>
    <div>
        <p>Configura los sonidos del bebé:</p>
        <form action="/insert/setting" method="post">
            <input type="hidden" name="data" value='{"data":"sound1"}'>
            <button type="submit">Baby Cry 1</button>
        </form>
        <form action="/insert/setting" method="post">
            <input type="hidden" name="data" value='{"data":"sound2"}'>
            <button type="submit">Baby Cry 2</button>
        </form>
        <form action="/insert/setting" method="post">
            <input type="hidden" name="data" value='{"data":"sound3"}'>
            <button type="submit">Baby Cry 3</button>
        </form>
        <form action="/insert/setting" method="post">
            <input type="hidden" name="data" value='{"data":"nosound1"}'>
            <button type="submit">No Sound 1</button>
        </form>
    </div>
</body>
</html>
